

<div class="container">
  <h2>POPULAR PRODUCTS</h2>
  <div class="row">
    <div class="col-sm-4 mt-4 mb-4">
      <div class="card">
        <img class="card-img-top" src="http://via.placeholder.com/250x150" alt="Card image cap">
        <div class="card-block">
          <h3 class="card-title">Special title treatment</h3>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col-sm-4 mt-4 mb-4">
      <div class="card">
        <img class="card-img-top" src="http://via.placeholder.com/250x150" alt="Card image cap">
        <div class="card-block">
          <h3 class="card-title">Special title treatment</h3>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col-sm-4 mt-4 mb-4">
      <div class="card">
        <img class="card-img-top" src="http://via.placeholder.com/250x150" alt="Card image cap">
        <div class="card-block">
          <h3 class="card-title">Special title treatment</h3>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col-sm-4 mt-4 mb-4">
      <div class="card">
        <img class="card-img-top" src="http://via.placeholder.com/250x150" alt="Card image cap">
        <div class="card-block">
          <h3 class="card-title">Special title treatment</h3>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col-sm-4 mt-4 mb-4">
      <div class="card">
        <img class="card-img-top" src="http://via.placeholder.com/250x150" alt="Card image cap">
        <div class="card-block">
          <h3 class="card-title">Special title treatment</h3>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col-sm-4 mt-4 mb-4">
      <div class="card">
        <img class="card-img-top" src="http://via.placeholder.com/250x150" alt="Card image cap">
        <div class="card-block">
          <h3 class="card-title">Special title treatment</h3>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col-sm-4 mt-4 mb-4">
      <div class="card">
        <img class="card-img-top" src="http://via.placeholder.com/250x150" alt="Card image cap">
        <div class="card-block">
          <h3 class="card-title">Special title treatment</h3>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col-sm-4 mt-4 mb-4">
      <div class="card">
        <img class="card-img-top" src="http://via.placeholder.com/250x150" alt="Card image cap">
        <div class="card-block">
          <h3 class="card-title">Special title treatment</h3>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col-sm-4 mt-4 mb-4">
      <div class="card">
        <img class="card-img-top" src="http://via.placeholder.com/250x150" alt="Card image cap">
        <div class="card-block">
          <h3 class="card-title">Special title treatment</h3>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>

  </div>

</div>


<!--carosule start-->
<div class="container">
  <h2>SALE PRODUCTS</h2>
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
      <div class="carousel-item active">
        <div class="row">
          <div class="col-md-3">
            <img class="d-block img-fluid" src="http://via.placeholder.com/350x250" alt="First slide">
          </div>
          <div class="col-md-3">
            <img class="d-block img-fluid" src="http://via.placeholder.com/350x250" alt="First slide">
          </div>
          <div class="col-md-3">
            <img class="d-block img-fluid" src="http://via.placeholder.com/350x250" alt="First slide">
          </div>
          <div class="col-md-3">
            <img class="d-block img-fluid" src="http://via.placeholder.com/350x250" alt="First slide">
          </div>
        </div>

      </div>
      <div class="carousel-item">
        <div class="row">
          <div class="col-md-3">
            <img class="d-block img-fluid" src="http://via.placeholder.com/350x250" alt="First slide">
          </div>
          <div class="col-md-3">
            <img class="d-block img-fluid" src="http://via.placeholder.com/350x250" alt="First slide">
          </div>
          <div class="col-md-3">
            <img class="d-block img-fluid" src="http://via.placeholder.com/350x250" alt="First slide">
          </div>
          <div class="col-md-3">
            <img class="d-block img-fluid" src="http://via.placeholder.com/350x250" alt="First slide">
          </div>
        </div>

      </div>
      <div class="carousel-item">

        <div class="row">
          <div class="col-md-3">
            <img class="d-block img-fluid" src="http://via.placeholder.com/350x250" alt="First slide">
          </div>
          <div class="col-md-3">
            <img class="d-block img-fluid" src="http://via.placeholder.com/350x250" alt="First slide">
          </div>
          <div class="col-md-3">
            <img class="d-block img-fluid" src="http://via.placeholder.com/350x250" alt="First slide">
          </div>
          <div class="col-md-3">
            <img class="d-block img-fluid" src="http://via.placeholder.com/350x250" alt="First slide">
          </div>
        </div>

      </div>

    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
